{% extends 'tracks/base.html' %}


{% block title_block %}

<h1>All Students</h1>

{% endblock %}


{% block main_block %}
<b><a href="/tracks/student/add">Add New Student</a></b>
<table border="1">
    <th>Name</th>
    <th>Track</th>
    <th>Graduated</th>
    {% for student in students %}
    <tr>
        <td><a href="{% url 'tracks:getStudent' student.id %}">{{student.first_name}}</a></td>
        <td>{{student.track}}</td>
        <td>{{student.is_graduated}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}